main{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#site-wrap{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr
                           repeat(6,minmax(0,272px))
                           1fr;
    grid-gap: 5px;
    grid-template-rows: 150px 75px 373px 373px 373px 373px 1fr;
    grid-template-areas: "title title . . . . . ."
                         ". . . . . . . ."
                         ". intro intro intro intro profile profile ."
                         ". portfolio portfolio portfolio portfolio portfolio portfolio ."
                         ". interests interests interests interests interests interests ."
                         ". about about about about about about ."
                         ". . . . . . . .";
}

.title{
    background-color: #D4ECDD;
    grid-area: title;
}

.intro{
    background-color: #B85C38;
    grid-area: intro;
}

.profile{
    background-color: aqua;
    grid-area: profile;
}

.portfolio{
    background-color: #152D35;
    grid-area: portfolio;
}

.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
}

.containers{
    display: none;
}

.back .forward{
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

.forward{
    right: 0;
    border-radius: 4px 0 0 4px;
}

.back:hover .forward:hover {
    background-color: white;
}

.MessageInfo{
    color: white;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

.dots{
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable .dots:hover{
    background-color: #717161;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

.interests{
    background-color: #A35709;
    grid-area: interests;
}

.about{
    background-color: #112031;
    grid-area: about;
}

.intro-list{
    text-align: center;
    
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

@-webkit-keyframes fade {
    from {opacity: 0.5}
    to {opacity: 2}
}

@keyframes fade{
    from {opacity: 0.5}
    to {opacity: 2}
}

@media screen and (max-width:1480px){
    
    #site-wrap{
        grid-template-areas: 
                         "title title title title title title title title"
                         ". . . . . . . ."
                         "intro intro intro intro intro intro intro intro"
                         "portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio"
                         "interests interests interests interests interests interests interests interests"
                         "about about about about about about about about"
                         ". . . . . . . .";
    }
    .profile{
        display: none;
    }
}